.pagination {
  display: flex;
  align-items: center;
  margin: 60px 0;
  font-size: 16px;
}

.pagination a {
  color: #fff;
  border-radius: 3px;
  padding: 20px 50px;
  border-radius: 3px;
  background-color: #362973;
  text-decoration: none;
  font-size: 16px;
  font-weight: 100;
  transition: background 0.2s;
}

.pagination a:hover {
  background-color: #4d3e96;
}

.current {
  flex: 1;
  color: #fff;
  font-weight: 100;
  text-align: center;
}

@media (max-width: 800px) {
  .pagination {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .current {
    margin-bottom: 20px;
  }

  .pagination a {
    order: 1;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
}
